
.line-after {
	margin-bottom: rem-calc(25);
	padding-bottom: rem-calc(25);
	border-bottom: rem-calc(1) solid $light-grey;
	&:last-child {
		border-color: $light-blue;
	}
	&::after {
		content: '';
		display: table;
		clear: both;
	}
	
	p:last-child, .button:last-child {
		margin-bottom: 0;
	}
}

.invers { 
	background-color: $light-blue;
	h1, h2, .h1, .h2 {
		color: $white;
	}
	a {
		.h1, .h2 {
			color: $white;
		}
	}
}

.box { 
	position: relative;
	padding: rem-calc(20);
	margin-bottom: rem-calc($gutter-width);
	p:last-child, .button:last-child, .csc-textpic-text p:last-child, .csc-textpic-text .button:last-child {
		margin-bottom: 0;
	}
	h2, .h2 {
		margin: 0 0 $header-bottom-margin 0;
		font-size: $h2-font-size - $h2-font-reduction;
		
		@media #{$xxlarge-up} {
			font-size: $h2-font-size;
		}
	}
	h3, .h3 {
		font-family: $secondary-font;
		margin-top: -#{$header-bottom-margin};
		margin-bottom: rem-calc(20);
		font-weight: 500;
		letter-spacing: rem-calc(-0.3);
	}
}

.numbers {
	position: relative;
	padding-left: rem-calc(40);
	padding-bottom: rem-calc(35);
	padding-top: rem-calc(30) !important;
	padding-right: 0;
	margin-top: rem-calc(30);
	margin-left: rem-calc(29);
	border-top: rem-calc(1) solid $light-blue;
	border-left: rem-calc(1) solid $light-blue;
	h3, .h3 {
		font-family: $header-font !important;
		margin-bottom: rem-calc(10);
		margin-top: rem-calc(-7);
	}
	&::before {
		content: ' ';
		position: absolute;
		display: block;
		text-align: center;
		padding-top: rem-calc(14);
		top: rem-calc(-11);
		left: rem-calc(-31);
		//margin: rem-calc(-32) 0 0 rem-calc(-70);
		height: rem-calc(52);
		width: rem-calc(52);
		color: $white;
		font-size: rem-calc(36);
		font-family: $header-font;
		background-color: $light-blue;
	}
	&.small {
		margin-left: 0;
		border-left: none;
		border-top: rem-calc(1) solid $light-blue;
		@media #{$small-only} {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		@media #{$medium-only} {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		padding-bottom: 0 !important;
		
		&::before {
			position: relative;
			height: rem-calc(30);
			width: rem-calc(30);
			margin: rem-calc(-40) 0 0 0;
			top: 0;
			left: 0;
			padding-top: rem-calc(7);
			font-size: rem-calc(20);
			@media #{$large-up} {
				height: rem-calc(37);
				width: rem-calc(37);
				padding-top: rem-calc(10);
				font-size: rem-calc(24);
			}
			background-color: scale-color($light-blue, $lightness: 60%);
		}
		&.active::before {
			background-color: $light-blue;
		}
		
		input[type="submit"] {
			position: relative;
			display: none;
			@media #{$large-up} {
				display: inline-block;
			}
			bottom: auto;
			background: none;
			border: none;
			color: $text-color;
			padding-left: 0;
			margin-top: 0;
			margin-left: rem-calc(-2);
			margin-bottom: 0;
			text-align: left;
			white-space: pre-wrap;
		}
		
		.has-tip {
			position: absolute;
			z-index: 10;
			left: 0;
			margin-top: rem-calc(-40);
			height: rem-calc(30);
			width: rem-calc(30);
			border: none;
		}
		@media #{$large-up} {
			.has-tip {
				display: none;
			}
		}
	}
	.button {
		position: absolute;
		bottom: 0;
	}
}

div[data-equalizer-watch]:not(.imagebox):not(.box) {
	padding-bottom: rem-calc(35);
	button, .button {
		position: absolute;
		bottom: 0;
		margin-bottom: 0;
	}
}


@for $i from 1 through 12 {
	.numbers:nth-child(#{$i})::before { 
		content: '#{$i}';
	}
	
	.numbers.n#{$i}::before { 
		content: '#{$i}';
	}
}
.imagebox {
	margin-bottom: rem-calc($gutter-width);
	padding: rem-calc(20);
	
	p:last-child, .button:last-child, .csc-textpic-text p:last-child, .csc-textpic-text .button:last-child {
		margin-bottom: 0;
	}
	
	@media #{$large-up} {
		&.last {
			margin-bottom: 0;
		}
	}
	
	ul.linklist:last-child, .button:last-child, h4 {
		margin-bottom: 0;
	}

	.image, .csc-textpic-imagewrap {
		width: 100%;
		z-index: 1;
		margin: 0 !important;
		img {
			width: 100% !important;
			height: auto !important;
			min-width: 100%; 
		}
	}
	.text, .csc-textpic-text {
		width: 100%;
		margin: 0 !important;
		margin-top: rem-calc(-35) !important;
		padding: 0;
		z-index: 3;
	}
	.csc-textpic-intext-left-nowrap {
		.csc-textpic-text {
			float: right;
		}
		.csc-textpic-imagewrap {
			float: left;
		}
	}
	.csc-textpic-intext-right-nowrap  {
		.csc-textpic-text {
			float: left;
		}
		.csc-textpic-imagewrap {
			float: right;
		}
	}
	
	.csc-textpic-image {
		margin: 0 !important;
	}
	
	h3, .h3 {
		font-family: $secondary-font;
		font-weight: 500;
		letter-spacing: rem-calc(-0.3);
	}
	
	&.invers h2, &.invers .h2 {
		display: inline-block;
		font-size: $h3-font-size;
		font-family: $text-font;
		font-weight: 700;
		color: $text-color;
		background-color: $white;
		padding: 0 rem-calc(5) 0 rem-calc(5);
		margin: rem-calc(-80) 0rem rem-calc(30) rem-calc(10);
		a {
			color: $text-color;
		}
	}
}
@media #{$xlarge-up} {
	.imagebox.wide {
		padding: 0;
		.image, .csc-textpic-imagewrap {
			width: 60%;
		}
		.text, .csc-textpic-text {
			width: 40%;
			margin-top: 0 !important;
			padding: rem-calc(20);
		}
		&.invers h2, &.invers .h2 {
			display: block;
			font-size: $h2-font-size - $h2-font-reduction;
			font-family: $header-font;
			font-weight: 500;
			color: $white;
			background-color: transparent;
			padding: 0;
			margin: 0 0 $header-bottom-margin 0;
			a {
				color: $white;
			}
			@media #{$xxlarge-up} {
				font-size: $h2-font-size;
			}
		}
		h3, .h3 {
			font-family: $secondary-font;
			margin-top: -#{$header-bottom-margin};
			margin-bottom: rem-calc(20);
		}
	}
}

/* aside box with badge */
#badge-box.box {
	&::before {
		position: relative;
		float: right;
		margin: rem-calc(-20) rem-calc(-5) 0 0;
	}
	
	@extend %add-before;
	@include icon(badge-einfachmitglied_retina, 2);
}

/* aside and dropdown box with contactinfo */
ul.contact-list {
	padding: 0;
	min-height: rem-calc(371);
	margin: -#{rem-calc($gutter-width)} 0 0 0;
	border-bottom: rem-calc(1) solid $deep-light-blue;
	list-style: none;
	.h2 {
		margin-top: rem-calc(-8);
		margin-bottom: 0;
		@include single-transition(color);
		@include single-transition(background-color);
	}
	a:hover, a:focus {
		.h2 {
			color: $grey;
			background-color: $white;
		}
	}
	li { 
		position: relative;
		padding: rem-calc(12) rem-calc(20) 0 rem-calc(79);
		border-top: rem-calc(1) solid $deep-light-blue;
		min-height: rem-calc(68);
		
		&::before {
			display: block;
			position: absolute;
			left: rem-calc(17);
			top: rem-calc(6);
			color: $white;
			font-size: rem-calc(52);
			width: rem-calc(52);
			height: rem-calc(52); 
		}
	}
}


/* used in header dropdowns */
.f-dropdown li {
	cursor: default;
}

#contact_info.open {
	width: rem-calc(333);
}
#settings_info {
	padding: rem-calc(20);
	.button {
			cursor: default;
	}
}


/* broschueren */
.brochure {
	li {
		padding-bottom: rem-calc(45);
	}
	.h3 {
		margin-top: rem-calc(20);
		margin-bottom: rem-calc(2);
	}
	input, input[type="text"]:focus {
		display: inline-block;
		width: rem-calc(30);
		margin-right: rem-calc(8);
		background-color: $light-grey;
	}
	p {
		min-height: rem-calc(34);
	}
	a {
		display: block;
		&::before {
			content: 'icon';
			display: inline-block;
			width: rem-calc(30);
			margin-right: rem-calc(8);
		}
	}
}

/* geschaeftsstellen */

