
@mixin breakpoint-menuwidth($menu-width-mobile) {

	.js #targetnav-select, .js #mainnav, .js .top-bar {
		width:#{$menu-width-mobile}px;
		left: -#{$menu-width-mobile}px;
		transition: transform $menu-animation-speed $menu-animation-type 0s;
	}
	
	.js .expanded #targetnav-select, .js .expanded #toggle-topbar, .js #mainnav.expanded {
		@include transform2d(translateX(#{$menu-width-mobile}px));
		transition: transform $menu-animation-speed $menu-animation-type 0s;
	}
	
	.js #toggle-topbar {
		transition: transform $menu-animation-speed $menu-animation-type 0s;
	}
}


@media #{$small-only} {

	@include breakpoint-menuwidth($menu-width-mobile);
	
	body {
		margin-top: 0px;
	}
	
	#wrapper {
		min-width: 100%;
		max-width: 100%;
		padding: 0px;
	}
	
	.row {
		min-width: 100%;
		max-width: 100%;
	}
	
	nav, nav a {
		font-family: $text-font !important;
		font-size: rem-calc($menu-font-size-mobile) !important;
	}

	.no-js header {
		height: auto;
	}
	
	header { 
		height: 174px;
		border-bottom: 2px solid $light-grey;
		margin-bottom: 1px;
	}
	
	#utilitynav {
		margin-top: 130px;
		margin-right: 17px;
		li {
			padding: 0px 0px 0px 5px;
			a {
				width: 40px;
				padding: 0px;
			}
			&:first-child {
				padding: 0px;
			}
		}
	}
	
	.no-js #targetnav {
		top: 0px;
		margin-top: 10px;
		li a, li a:hover, li.active a {
			border-bottom: 1px solid $light-grey;
		}
		li:first-child a {
			border-top: 1px solid $light-grey;
		}
	}
	
	#targetnav {
		position: relative;
		top: 0px;
		margin-left: 0px;
		margin-top: -35px;
		li {
			float: none;
		}
		li a, li a:hover, li.active a {
			text-transform: uppercase;
			padding: 3px 17px 3px 17px;
			background-color: $white;
			color: $link-color;
		}
	}
	
	.js #targetnav {
		display: none;
	}
	
	.js #targetnav-select {
		position: absolute;
		display: block;
		top: 122px;
		height: 49px;
		padding: 0px 10px 0px 17px;
		border: none;
		background-color: $white;
		cursor: pointer;
		text-transform: uppercase;
		font-size: rem-calc(16) !important;
		@include transform2d(translateX(0px));
		option {
			font-size: inherit !important;
			padding: 0px 17px;
		}
	}
	
	
	.js #toggle-topbar {
		position: absolute;
		display: block;
		left: 0px; 
		top: 112px;
		height: 60px;
		width: 60px;
		overflow: hidden;
		background-color: $white;
		@include transform2d(translateX(0px));	
		a {
			position: absolute;
			display: block;
			width: 60px;
			height: 60px;
			color: $link-color;
			text-indent: -1000em;
			&::before {
				margin-top: 16px;
				margin-left: 12px;
			}
		}
	}
	
	
	.no-js #mainnav{
		position: relative;
		top: 0px;
		margin-top: 172px;
		overflow: visible;
		height: auto !important;
		.title-area {
			display: none !important;
		}
	}
	
	
	
	.js #mainnav, .js .top-bar {
		overflow-y: auto;
		top: 174px;
		@include box-shadow($box-shadow-color-lighten 10px 10px 15px -9px);
		@include transform2d(translateX(0px));
	}
	 
	#mainnav {
		
		background-color: $deep-light-grey;
		.top-bar-section {
			
			background-color: $deep-light-grey;
			li, li:hover {
				
				a, a:hover {
					
					border-bottom: 1px solid $white;
					color: $link-color;
					background-color: $deep-light-grey;
				}
			}
			li:first-child {
				display: block;
			}
			.has-dropdown { 
				position: inherit; 
				&:hover, &.hover {
					@include box-shadow(none);
					a {
						background-color: transparent;
					}
				}
				a::before {
					display: block;
				}
			}
			.dropdown {
				
				padding-top: 0px;
				background-color: $deep-light-grey;
				@include box-shadow(none);
				li.back, li.parent-link {
					display: inherit;
				}
				h5, li.parent-link {
					line-height: inherit !important;
					
					a {
						padding: 12px 0px 12px $topbar-link-padding;
						
					}
				}
				li, li.columns { 
					padding: 0px !important;
					float: none !important;
					width: 100% !important;
					height: auto !important;
					ul {
						border-top: 1px solid $white;
						margin-top: 0px;
						li { 
							
							display: block;
							a {
							
								line-height: inherit;
								padding: 12px $topbar-link-padding 12px ($topbar-link-padding*2);

								&:hover {
									color: $link-color;
									background-color: inherit;
								}
								&::before {
									display: none;
								}
							}
						}
					}
				}
				li.active a, a.parent-link, .hover a.parent-link, a.parent-link:hover {
					background-color: $light-blue !important;
				}
			}
			ul.dropdown label {
				line-height: inherit !important;
				font-size: rem-calc($menu-font-size-mobile) !important;
				color: $link-color;
				margin-bottom: 0px;
				padding: 12px 0px 12px $topbar-link-padding;
			}
		}
	}
	
	#login {
		float: none !important;
		margin-top: 51px;
		margin-bottom: 60px;
		a {
			background-color: $white !important;
			&::after {
				margin-top: 6px;
			}
		}
	}
	.no-js #login { 
		margin-top: 0px; 
	}
	
	#exit-off-canvas {
		position: absolute;
		display: block;
		top: 0px; 
		left: 0px;
		z-index: 5;
		width: 100%;
	}
	
	#contact, 
	#settings,
	#searchinput
	{
		display: none !important; 
	}
	#phone24 a {
		text-indent: -1000em;
	}
	
	#searchlink, #loginlink { 
		display: block !important;
	}
	
	#logo { 
		top: 34px;
		left: 0px;
		width: 100%;
		height: 78px;
		border-bottom: 2px solid $light-grey;
		a {
			margin-left: 17px;
		}
	}
	
	.main-content {
		padding-left:rem-calc($gutter-width / 2);
	}
		
	footer {
		padding: 0px;
		.columns {
			&:first-child {
				padding-left: rem-calc($gutter-width / 2);
				ul {
					float: left;
					max-width: 100%;
					margin-right: 10%;
					li:last-child {
						margin-right: 0px;
					}
				}
			}
			&:last-child {
				padding-right: rem-calc($gutter-width / 2);
				ul {
					float: left;
					&:first-child {
						max-width: 50%;
					}
					&:last-child {
						float: right;
					}
				}
			}
		}
	}
}



@media #{$xsmall-only} {
	@include breakpoint-menuwidth($menu-width-xs-mobile);
}