

// need to use the "mixin"-prefix, because mixin input-placeholder is in use by compass (?)
@mixin mixin-input-placeholder($args) {
	&::-webkit-input-placeholder {
		@each $key, $val in $args {
			#{$key}: #{$val};
		}
	}
	&:-webkit-input-placeholder {
		@each $key, $val in $args {
			#{$key}: #{$val};
		}
	}
	&::-moz-placeholder {
		@each $key, $val in $args {
			#{$key}: #{$val};
		}
	}
	&:-moz-placeholder {
		@each $key, $val in $args {
			#{$key}: #{$val};
		}
	}
	&:-ms-input-placeholder {
		@each $key, $val in $args {
			#{$key}: #{$val};
		}
	}
}


::-webkit-input-placeholder {
   color: scale-color($link-color-light, $lightness: +50%);
}
:-moz-placeholder { 
   color: scale-color($link-color-light, $lightness: +50%);  
}
::-moz-placeholder { 
   color: scale-color($link-color-light, $lightness: +50%);  
}
:-ms-input-placeholder {  
   color: scale-color($link-color-light, $lightness: +50%);  
}

	
fieldset.input-button-group {
	padding: 0px;
	margin: 6px -100px 6px 0px;
	border: none;

	input {
		float: left;
		width: auto;
	}
}

input {
	padding: 0px;
	//@include mixin-input-placeholder((color: scale-color($link-color-light, $lightness: +60%)));
}


button, .button {
	background-color: $dark-grey;
	&.large {
		font-size: rem-calc(16);
		padding: 13px 35px 13px 35px;
	}
}
button.blue, .button.blue {
	background-color: $light-blue;
	color: $white;
	&:hover {
		background-color: $light-blue-text;
	}
}

button.small, button.small:hover {
	width: 24px !important;
	height: 23px !important;
	padding: 0px !important;
	margin: 0px !important;
	background-color: $dark-grey;
	text-indent: -1000em;
	overflow: hidden;
}