
/* icon map */
$standard-icon-map: sprite-map("Sprites/Icons/\*.png", $position: 0%, $spacing: 2px);

/* mixins and extends */
@mixin get-sprite($sprite, $icon-offset-x:0, $ratio: 1, $height: true, $width: true)
{
	background-size: (image-width(sprite-path($standard-icon-map)) / $ratio) (image-height(sprite-path($standard-icon-map)) / $ratio);
	background-position: (round(nth(sprite-position($standard-icon-map, $sprite, $icon-offset-x), 1) / $ratio)) round(nth(sprite-position($standard-icon-map, $sprite), 2) / $ratio);
	
	@if ($height == true) {
		height: (image-height(sprite-file($standard-icon-map, $sprite)) / $ratio) + 1; // need to add one due to rounding
	}
	@if($width == true) {
		width: (image-width(sprite-file($standard-icon-map, $sprite)) / $ratio) + 1;
	}
}

@mixin icon($icon, $ratio:1, $position:before, $icon-offset-x:0) {
	@if($position != false) {
		&::#{$position} {
			@include get-sprite($icon, $icon-offset-x, $ratio, $height: true, $width: true );
		}
	}
	@if($position == false) {
		@include get-sprite($icon, $icon-offset-x, $ratio, $height: false, $width: false);
	}
}


@mixin icon-standards {
	content: '';
	display: block;
	margin-top: -8px;
	background-repeat: no-repeat;
	@extend %all-sprites-standard;
}


%add-before {
	&::before {
		@include icon-standards;
		float: left;
		margin-right: 7px;
	}
}

%add-after {
	&::after {
		@include icon-standards;
		float:right;
		margin-left: 7px;
	}
}

%all-sprites-standard {
	$sprite-map: sprite-url($standard-icon-map);
	background-image: $sprite-map;
}


/* icons */

#phone24 a {
	@extend %add-before;
	@include icon(phone24);
	@media #{$retina} {
		@include icon(phone24_retina, 2);
	}
	@media #{$small-only} {
		@include icon(phone24_smart);
		@media #{$retina} {
			@include icon(phone24_smart_retina, 2);
		}
	}
}

#contact a {
	@extend %add-before;
	@include icon(contact);
	@media #{$retina} {
		@include icon(contact_retina, 2);
	}
}

#settings a {
	@extend %add-before;
	@include icon(settings);
	@media #{$retina} {
		@include icon(settings_retina, 2);
	}
}

#login a {
	@extend %add-after;
	&::after {
		margin-top: 14px;
		margin-left: 0px;
	}
	@include icon(login_navi, 1, after);
	@media #{$retina} {
		@include icon(login_navi_retina, 2);
	}
}

#loginlink a {
	@extend %add-before;
	@include icon(login_smart);
	@media #{$retina} {
		@include icon(login_smart_retina, 2);
	}
}

#searchlink a {
	@extend %add-before;
	@include icon(lens_smart);
	@media #{$retina} {
		@include icon(lens_smart_retina, 2);
	}
}

#searchinput button {
	@extend %add-before;
	@include icon(lens);
	@media #{$retina} {
		@include icon(lens_retina, 2);
	}
}

#toggle-topbar a {
	@extend %add-before;
	@include icon(burger);
}
.expanded #toggle-topbar a {
	@include icon(cross);
}

.js #targetnav-select {
	@extend %all-sprites-standard;
	@include icon(caret_down_black, 1, false, ($menu-width-mobile - 50));
	@media #{$xsmall-only} {
		@include icon(caret_down_black, 1, false, ($menu-width-xs-mobile - 50));
	}
}

.has-dropdown > a, .dropdown .back a {
	@extend %add-before;
	@include icon(caret_down_black);
}
.has-dropdown > a {
	&::before {
		float: right;
		transform: rotate(270deg);
		margin-right: -2px;
		margin-top: -18px;
	}
}
.dropdown .back a {
	&::before {
		transform: rotate(90deg);
		margin-left: -22px;
		margin-top: -14px;
	}
}

button.small {
	@extend %add-before;
	@include icon(caret_right_white_small);
	&::before {
		margin-top: 3px;
		margin-left: 9px;
	}
}

footer .accordion-navigation a {
	@extend %add-before;
	@include icon(caret_right_white);
	&::before {
		margin-top: 2px;
		margin-right: 14px;
	}
}

#badge-box {
	@extend %add-before;
	@include icon(badge-einfachmitglied_retina, 2);
}


.js .slide-title {
	@extend %add-after;
	@include icon(caret_down_black_slider, 1, after);
}