/* layout */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
	margin-top: 50px;
	background-color: $dark-grey;
	border-top: 5px solid $light-grey;
	font-size: $rem-base; // need the rem-base again for calculating the em width of breakpoint
	min-width: em-calc(1024);
	
	@media #{$small-only} {
		margin-top: 0px;
		min-width: 100%;
		max-width: 100%;
	}
}

ul, ol, dl {
	font-size: rem-calc($text-font-size) !important;
}
ul.linklist {
	margin-left: 0px;
	margin-right: 0px;
	li {
		list-style: none;
		margin: 0px 0px 0px 0px;
		a {	
			font-weight: 700;
			&::before {
				content: '\00203A';
				font-size: rem-calc(22);
				color: $white;
				margin-right: 8px;
			}
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
}

em, i {
	font-family: $secondary-font;
}

a {
	color: $link-color;
}

nav, nav a {
	font-family: $nav-font !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $header-font !important;
}

h1.pagetitle {
	color: $light-blue-text;
}

@for $i from 1 through 6 {
  .h#{$i} { 
	@extend h#{$i};
	display: block;
  }
}


#wrapper { 
	//padding: rem-calc(0px) rem-calc(10px) rem-calc(25px) rem-calc(10px); // leaving bit of white space around
	min-width: 100%;
	//margin-left: rem-calc(-10px);
	background-color: $white;
	font-size: rem-calc($text-font-size) !important;
	
	@media #{$small-only} {
		overflow: hidden;
		margin-left: 0;
		padding: 0px;
	}
}


.row {
	@media #{$small-only} {
		min-width: 100%;
		//max-width: 100%;
		/*.row .row {
			margin-left: 0;
			margin-right: 0;
		}*/
	}
}

header {
	position: relative;
	height: 145px; 
	
	ul, ul li { 
		list-style: none;
	}
	
	@media #{$small-only} {
		height: 174px;
		border-bottom: 2px solid $light-grey;
		margin-bottom: 1px;
		.no-js & {
			height: auto;
		}
	}
}

#logo {
	position: absolute;
	top: 57px;
	height: 65px;
	a {
		display: block;
		width: 220px;
		height: 65px;
		text-indent: -1000em;
		@extend %all-sprites-standard;
		@include icon(logo, 1, false);
		@media #{$retina} {
			@include icon(logo_retina, 2, false);
		}
	}
	@media #{$small-only} {
		top: 34px;
		left: 0px;
		width: 100%;
		height: 78px;
		border-bottom: 2px solid $light-grey;
		a {
			margin-left: 20px;
		}
	}
}

/* navigations */
@import "navigations";


#phone24 a {
	font-size: rem-calc(18) !important;
	line-height: 1rem !important;
	@media #{$small-only} {
		text-indent: -1000em;
	}
}

#contact a { 
	background-color: $deep-dark-grey;
	padding-right: 8px !important;
	padding-top: 8px !important;
	padding-bottom: 5px !important;
	margin-top: -2px;
	line-height: 1rem !important;
	&::before {
		margin-left: -10px;
	}
}
#settings a {
	width: 29px;
	text-indent: -1000em;
}

@media #{$small-only} {
	#contact,
	#settings,
	#searchinput
	{
		display: none !important; 
	}
}

#searchlink, #loginlink {
	display: none !important;
	a {
		text-indent: -1000em;
	}
	@media #{$small-only} {
		display: block !important;
	}
}

#searchinput {
	position: absolute;
	right: 20px;
	top: 69px;
	input {
		float: left;
		width: rem-calc(430);
		height: rem-calc(39);
		padding-left: 25px;
		padding-right: 25px;
		border: none;
		background-color: $deep-light-grey;
		@include box-shadow(none);
		font-family: $nav-font;
		font-size: rem-calc(22);
		color: $link-color;
		font-weight: 400;
	}
	button {
		float: right;
		width: rem-calc(48);
		height: rem-calc(39);
		margin: 0px;
		padding-left: 11px;
		padding-top: 14px;
		border: none;
		overflow: hidden;
		text-indent: -1000em;
		background-color: $deep-light-grey;		
	}
}

#login a {
	color: $link-color !important;
	padding-right: 52px !important;
	&::after {
		margin-right: -32px;
	}
}	
@media #{$small-only} {
	#login {
		float: none !important;
		margin-top: 51px;
		margin-bottom: 60px;
		a {
			background-color: $white !important;
			&::after {
				margin-top: 0px;
			}
		}
	}
	.no-js #login { 
		margin-top: 0px; 
	}
}


.main-content {
	width: 71.1864406779661%;
}
.sidebar-content {
	width: 28.8135593220339%;
}
.main-content, .sidebar-content {
	margin-top: rem-calc($gutter-width);
	@media #{$small-only} {
		width: 100%;
		float: none;
	}
	&.no-margin {
		margin-top: 0;
	}
}

.sm-buttons {
	padding-top: rem-calc(40px);
	padding-bottom: rem-calc(25px);
	@media #{$small-only} {
		margin-right: rem-calc(-15px);
		width: auto;
	}
	
	.columns {
		margin-left: rem-calc(-10px);
	}
	

	a {
		display: inline-block;
		width: rem-calc(70px);
		margin-right: rem-calc(50px);
		margin-top: rem-calc(20px);
		text-align: center;
		em { 
			display: inline-block;
			margin-top: rem-calc(2px);
		}
		&::before {
			content: '';
			display: block;
			margin: 0 auto;
			border-radius: 50%;
			background-color: $light-blue;
			width: rem-calc(52px);
			height: rem-calc(52px); 
		}

		&.toplink {
			float: right;
			width: rem-calc(65px);
			margin-left: auto;
			margin-right: rem-calc(-10px);
			&::before {
				background-color: $dark-grey;
			}
			@media #{$small-only} { 
				margin-right: 0px;
			}
		}
		@media #{$small-only} {
			margin-right: rem-calc(10px);
		}
	}	
}

ul.contact-list {
	min-height: rem-calc(354px);
	@media #{$small-only} { 
		min-height: auto;
	}	
	padding: 0px;
	margin: -#{rem-calc($gutter-width)} 0px 0px 0px;
	border-bottom: 1px solid $deep-light-blue;
	list-style: none;
	.h4 {
		margin-top: rem-calc(-8);
		margin-bottom: 0;
	}
	li { 
		position: relative;
		padding: rem-calc(12px) rem-calc(20px) rem-calc(0px) rem-calc(79px);
		border-top: 1px solid $deep-light-blue;
		min-height: rem-calc(68px);
		
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 17px;
			top: 6px;
			border-radius: 50%;
			background-color: $white;
			width: rem-calc(52px);
			height: rem-calc(52px); 
		}
	}
}

#badge-box.box {

	min-height: rem-calc(254);
	@media #{$small-only} { 
		min-height: auto;
	}
	&::before {
		position: relative;
		float: right;
		margin: rem-calc(-20) 0px 0px 0px;
	}
}


/* footer */
@import "footer";




