/* some globals */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

html { 
 overflow-y: scroll;
}

.hidden { 
	position: absolute; 
	left: -3000px; 
	top: -3000px;
}

hr {
	margin: 0 0 rem-calc(20) 0;
}

ul, ol, dl {
	font-size: rem-calc($text-font-size) !important;
}


.csc-textpic-text ul, #teaser-text ul {
	list-style: none;
	li {
		@extend .icon-mhplus-quadrat;
		&::before {
			font-size: rem-calc(6);
			margin-left: -15px;
			margin-top: 4px;
		}
	}
}

ul.linklist {
	margin-left: 0px;
	margin-right: 0px;
	li {
		list-style: none;
		margin: 0px 0px 0px 0px;
		a {	
			padding-left: 15px;
			font-weight: 700;
			&:hover, &:focus {
				background-color: $dark-grey;
				color: $white;
			}
			@extend .icon-mhplus-pfeil-big;
			&::before {
				//content: '\00203A';
				font-size: rem-calc(18);
				color: $white;
				margin-left: -20px;
				@include transform(rotate(90deg));
			}
			
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
}

th {
	@extend .utopia;
	font-weight: 400;
}

ol.heading {
	margin-top: rem-calc(20);
	font-weight: 700;
	li {
		margin-bottom: rem-calc(20);
		em {
			@extend .utopia;
			font-weight: 500;
		}
	}
}


.utopia {
	font-family: $secondary-font;
	font-style: normal;
	font-size: rem-calc(15) !important;
	letter-spacing: rem-calc(-0.3);
}


h5 em {
	font-size: rem-calc(18);
}

a {
	color: $link-color;
	&.hover-blue:hover {
		color: $light-blue-text;
	}
}

nav, nav a {
	font-family: $nav-font !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
}
@for $i from 1 through 6 {
  .h#{$i} { 
	@extend h#{$i};
	display: block;
  }
}

/* pagetitle */
.main-content h2:first-of-type {
	color: $light-blue-text;
	font-size: rem-calc(26);
	margin-bottom: rem-calc(30);
	
	& + h3 {
		margin-top: -30px;
		margin-bottom: 30px;
	}
}


.margin {
	&.left { 
		margin-right: 20px;
	}
	&.right {
		margin-left: 20px;
	}
	&.bottom {
		margin-bottom: 20px;
	}
	&.bottom-large {
		margin-bottom: 40px;
	}
	&.top {
		margin-top: 20px;
	}
	&.top-large {
		margin-top: 40px;
	}
}


.no-padding {
	padding: 0px;
}
.no-margin {
	margin: 0px;
}


/* layout begin */

body {
	margin-top: 0px;
	min-width: 100%;
	max-width: 100%;
	background-color: $dark-grey;
	border-top: 5px solid $light-grey;
	//font-size: $rem-base; // need the rem-base again for calculating the em width of breakpoint
	//min-width: em-calc(1024);
	
	@media #{$xlarge-up} {
		margin-top: 44px;
		min-width: inherit;
		max-width: inherit;
	}
}


#wrapper { 
	//min-width: 100%;
	//width: 100%;
	
	background-color: $white;
	font-size: rem-calc($text-font-size) !important;
	//overflow-x: hidden;
		
	@media #{$xlarge-up} {
		overflow-x: visible;
	}
}

header {
	position: relative;
	z-index: 2;
	height: 174px;
	border-bottom: 2px solid $light-grey;
	margin-bottom: 1px;
	.no-js & {
		height: auto;
	}
	
	@media #{$xlarge-up} {
		height: 145px; 
		border-bottom: none;
		margin-bottom: 0px;
		.no-js & {
			height: 145px; 
		}
	}	
	
	ul, ul li { 
		list-style: none;
	}
}

#logo {
	position: absolute;
	top: 34px;
	left: 0px;
	width: 100%;
	height: 78px;
	border-bottom: 2px solid $light-grey;
	a {
		display: block;
		width: 220px;
		height: 65px;
		margin-left: 20px;
		text-indent: -1000em;
		@extend %all-sprites-standard;
		@include icon(logo, 1, false);
		@media #{$xlarge-up} {
			.layout-landingpage & {
				@include icon(logo-white, 1, false);
			}
		}
	}
		
	@media #{$xlarge-up} {
		left: auto;
		top: 57px;
		height: 65px;
		width: auto;
		border-bottom: none;
		a {
			margin-left: 0px;
		}
	}
	.svg & a {
		background-image: inline-image('../Images/logo.svg');
		background-position: 0;
		background-size: 100% 100%;
	}
	@media #{$xlarge-up} {
		.svg.layout-landingpage & a {
			background-image: inline-image('../Images/logo-white.svg');
		}
	}
}

/* navigations */
@import "navigations";

#utilitynav li#phone24 a { // overwrite !!
	font-family: $header-font !important;
}
	
#phone24 a {
	font-size: rem-calc(19) !important;	
	line-height: 1rem !important;
	padding-left: 36px !important;
	@extend .icon-mhplus-hotline24h;
	&::before {
		left: 0px;
		top: -1px;
		font-size: 29px;
	}
	
	.layout-landingpage & {
		display: none;
	}
	
	
	@media #{$mobile-only} {
		width: 29px;
		text-indent: -5000rem;
		padding-left: 0px !important;
		&::before {
			top: -8px;
			right: 0px;
			font-size: 39px;
		}
		.layout-landingpage & {
			display: block;
		}
	}
	@media #{$xlarge-only} {
		width: 29px;
		text-indent: -5000rem;
		padding-left: 0px !important;
	}
	
}

#contact { 

	padding-top: 4px !important;
	
	margin-left: 10px !important; 
	@media #{$xlarge-only} {
		margin-left: 0px !important;
	}
	.layout-landingpage {
		margin-left: 0px !important;
	}
	
	a { 
		background-color: $deep-dark-grey;
		padding: 8px 8px 5px 26px !important;
		margin-top: -1px;
		line-height: 1rem !important;
		
		@extend  .icon-mhplus-gesch-stelle;
		&::before {
			width: 24px;
			height: 19px;
			background-color: $dark-grey;
			left: -10px;
			top: 3px;
			font-size: 29px;
			line-height: 21px !important;
		}
		@media #{$xlarge-only} {
			width: 29px;
			text-indent: -5000rem;
			background: none;
			padding-right: 0px !important;
			&::before {
				left: 0px;
			}
		}
		
		.layout-landingpage &::before {
			color: $medium-light-grey;
		}
	}
}

#settings > a {
	width: 29px;
	text-indent: -1000em;
	@extend  .icon-mhplus-einstellungen;
	&::before {
		left: 0px;
		top: -1px;
		font-size: 29px;
	}
	
	.layout-landingpage &::before {
			color: $medium-light-grey;
	}
}


@media #{$mobile-only} {
	#contact, #settings {
		display: none !important; 
	}
}

#loginlink {
	position: relative;
	display: none !important;
	@media #{$mobile-only} {
		display: block !important;
	}
	a {
		text-indent: -1000em;
		@extend .icon-mhplus-mhplusdirekt;
		&::before {
			top: -8px;
			right: 0px;
			font-size: 39px;
		}
	}
}

#searchlink a {
	@extend .icon-mhplus-search;
	&::before {
		border-radius: 50%;
		background-color: $light-blue;
		top: -8px;
		right: 0px;
		width: rem-calc(40px);
		height: rem-calc(40px); 
		color: $white;
		font-size: 27px;
		padding: 9px 0px 0px 9px;
	}
}
#searchlink { display: none !important; }


#searchinput {
	position: absolute;
	right: 20px;
	top: 69px;
	
	.layout-landingpage & {
		display: none;
	}
	
	@media #{$mobile-only} {
		top: 130px;
		right: 20px;
	}
	
	input {
		float: left;	
		transition: all 0.3s ease 0s;
		width: rem-calc(430);		
		height: rem-calc(39);
		padding-left: 25px;
		padding-right: 25px;
		border: none;
		background-color: $deep-light-grey;
		@include box-shadow(none);
		font-family: $header-font-light;
		font-size: rem-calc(22);
		//color: $link-color;
		font-weight: 400;
		
		@media #{$mobile-only} {
			font-size: rem-calc(18) !important;
			margin-top: -9px;
			width: 0px !important;
			height: rem-calc(40);
			padding-left: 0px;
			padding-right: 0px;
			background-color: transparent;
			//border-radius: 0 4% 0 0;
			&.show {
				width: rem-calc(200) !important;
				padding-left: 10px;
				padding-right: 20px;
				margin-right: -13px;
				background-color: $deep-light-grey;
			}
		}		
	}
	button {
		float: right;
		width: rem-calc(48);
		height: rem-calc(39);
		margin: 0px;
		padding-left: 11px;
		padding-top: 14px;
		border: none;
		overflow: hidden;
		text-indent: -1000em;
		background-color: $deep-light-grey;	
		@extend .icon-mhplus-search;
		&::before {
			right: 11px;
			top: 6px;
			font-size: 27px;
			color: $grey;
		}
		
		@media #{$mobile-only} {
			overflow: visible;
			width: rem-calc(40px);
			height: rem-calc(40px);
			background-color: transparent;
			&::before {
				content: "\e613";
				top: -8px;
				right: 0px;
				color: $light-blue;
				font-size: 39px;
			}
		}
	}
}

#login a {
	position: relative;
	color: $link-color !important;
	padding-right: 52px !important;
	@extend .icon-mhplus-mhplusdirekt-small;
	&::before {
		position: absolute;
		right: 18px;
		top: 14px;
		font-size: 19px;
		color: $light-blue-text;
	}
}	
@media #{$mobile-only} {
	#login {
		float: none !important;
		margin-top: 51px;
		margin-bottom: 60px;
		a {
			background-color: $white !important;
			&::after {
				margin-top: 0px;
			}
		}
	}
	.no-js #login { 
		margin-top: 0px; 
	}
}

#teaser {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: -145px;
	//margin-bottom: -79px;
	z-index: 0;
	background-size: cover;
	background-origin: border-box;
	background-position: center center;
	background-repeat: no-repeat;
	border-bottom: 1px solid $line-grey;
	padding-bottom: rem-calc(100);
	padding-top: rem-calc(310);
}

#teaser-text {
	position: relative;
	//padding: rem-calc(30);
	margin-left: rem-calc($gutter-width / 2);
	margin-bottom: 0;
	ul li::before {
		color: $white;
	}
}

@media #{$mobile-only} {
	#teaser {
		height: 400px;
		overflow: visible;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 400px;
		padding-bottom: 0;
	}
	#teaser-text {
		margin-left: 0px;
	}
}
@media #{$small-only} {
	#teaser {
		height: 200px;
		padding-top: 200px;
	}
}
@media #{$medium-only} {
	#teaser {
		height: 300px;
		padding-top: 300px;
	}
}
@media #{$large-only} {
	#teaser {
		height: 500px;
		padding-top: 500px;
	}
}


.main-content, .main-content.wide, .sidebar-content {
	margin-top: rem-calc($gutter-width);
	width: 100%;
	
	&.no-margin {
		margin-top: 0;
	}
}

/* landingpage !! */
.layout-landingpage .main-content, .layout-landingpage .sidebar-content{
	margin-top: rem-calc(70);
	
	@media #{$mobile-only} {
		margin-top: rem-calc($gutter-width);
	}
	
}
.layout-landingpage .main-content {
	padding-left: rem-calc($gutter-width);
	@media #{$mobile-only} {
		padding-left: rem-calc($gutter-width/2);
	}
}


@media #{$xlarge-up} {
	.main-content {
		width: 65%;
		&.wide {
			width: 71.1864406779661%;
		}
	}
	.sidebar-content {
		float: right !important;
		width: 28.8135593220339%;
	}
}


.sm-buttons {
	padding-top: rem-calc(35px);
	padding-bottom: rem-calc(25px);
	@media #{$mobile-only} {
		//margin-right: rem-calc(-15px);
		width: auto;
	}
	.columns {
		//margin-left: rem-calc(-10px);
	}

	a {
		display: inline-block;
		width: rem-calc(70px);
		margin-left: rem-calc(-10px);
		margin-right: rem-calc(60px);
		margin-top: rem-calc(20px);
		@extend .utopia;
		text-align: center;
		em { 
			display: inline-block;
			margin-top: rem-calc(2px);
		}
		&::before {
			position: relative;
			display: block;
			margin: 0 auto;
			width: rem-calc(52px);
			height: rem-calc(52px); 
			font-size: 52px;
		}

		&.toplink {
			float: right;
			width: rem-calc(65px);
			margin-left: auto;
			margin-right: 0;
			@extend .icon-mhplus-pfeil-big;
			&::before {
				position: relative;
				height: rem-calc(52px);
				width: rem-calc(52px);
				padding-top: 12px;
				padding-left: 1px;
				border-radius: 50%;
				background-color: $dark-grey;
				color: $white;
				font-weight: 400;
				font-size: 26px;
				
			}
		}
		@media #{$mobile-only} {
			margin-right: rem-calc(20px);
		}
	}	
}


/* footer */
@import "footer";




