/* layout */
body {
	margin-top: 50px;
	background-color: $dark-grey;
	border-top: 5px solid $light-grey;
}

#wrapper { 
	background-color: $white;
}

header {
	position: relative;
	height: 145px; 
}

#targetnav, #utilitynav {
	margin-bottom: 0px;
	li {
		display: block;
		float: left;
		margin-left: 0px;
		a {
			display: block; 
			padding: 8px 17px 14px 17px;
			color: $white;
			font-size: rem-calc(14);
		}
	}
}

#targetnav {
	position: absolute; 
	top: -195px;
	margin-left: -17px;
	li a:hover, li.active a{
		background-color: $white;
		color: $link-color;
	}
}
#targetnav-select { 
	display: none;
}

#utilitynav {
	float: right;
	margin-top: -43px;
	li {
		padding: 3px 0px 0px 20px;
		a {
			padding: 6px 0px 5px 0px;
		}
		&:first-child {
			padding-left: 0px;
			padding-right: 22px;
		}
	}
}

#phone24 a {
	font-size: rem-calc(18) !important;
	line-height: 1rem !important;
}
#contact a { 
	background-color: $deep-dark-grey;
	padding-right: 8px !important;
	padding-top: 8px !important;
	padding-bottom: 5px !important;
	margin-top: -2px;
	line-height: 1rem !important;
	&::before {
		margin-left: -10px;
	}
}
#settings a {
	width: 29px;
	text-indent: -1000em;
}

#login a {
	color: $link-color !important;
	padding-right: 52px !important;
	&::after {
		margin-right: -32px;
	}
}

#searchinput {
	position: absolute;
	right: 0px;
	top: 69px;
	input {
		float: left;
		width: rem-calc(430);
		height: rem-calc(39);
		padding-left: 25px;
		padding-right: 25px;
		border: none;
		background-color: $deep-light-grey;
		@include box-shadow(none);
		font-size: rem-calc(22);
		color: $link-color;
		font-weight: 400;
		@include mixin-input-placeholder((color: scale-color($link-color-light, $lightness: -10%)));
	}
	button {
		float: right;
		width: rem-calc(48);
		height: rem-calc(39);
		margin: 0px;
		padding-left: 11px;
		padding-top: 14px;
		border: none;
		overflow: hidden;
		text-indent: -1000em;
		background-color: $deep-light-grey;		
	}
}

#toggle-topbar { 
	display: none;
}

#mainnav {
	position: absolute; 
	z-index: 10;
	top: 152px;
	background-color: rgba(255,255,255,0.85);
	.top-bar-section {
		// hide home-link-placeholder
		li:first-child {
			display: none;
		}
		// but display following first childs (is this a bug?)
		ul ul li:first-child {
			display: inherit;
		}
		.has-dropdown { 
			position: inherit; 
			&:hover, &.hover {
				@include box-shadow($box-shadow-color-lighten 3px 4px 7px -3px);
				a {
					background-color: $white;
				}
			}
		}
		.dropdown {
			padding-top: 40px;
			padding-bottom: 30px;
			background: $white;
			@include box-shadow($box-shadow-color-lighten 3px 5px 7px -3px);
			li.back {
				display: none;
			}
			li.columns { 
			
				border-right: 1px solid $light-border;
				
				// need to overwrite!
				@extend .columns;
				@extend .small-3;
				&:last-child {
					float: left !important;
				}
				
				&:last-child {
					border-right: none;
				}	
				label {
					margin-bottom: 15px;
					padding: 0px ($topbar-link-padding - ($column-gutter/2));
				}
				ul {
					margin-top: 10px;
					li { 
						display: block;
						a {
							font-size: rem-calc(14);
							line-height: rem-calc(16);
							padding: rem-calc(5) rem-calc(5);

							&:hover {
								color: $white;
								background-color: $light-blue;
							}
							&::before {
								content: '\0025FE';
								display: block;
								float: left;
								margin-top: -1px;
								margin-right: 6px;
								font-size: rem-calc(18);
								color: $light-blue;
							}
						}
					}
				}
			}
		}
	}
}
	
#logo {
	position: absolute;
	top: 57px;
	height: 65px;
	a {
		display: block;
		width: 220px;
		height: 65px;
		text-indent: -1000em;
		@extend %all-sprites-standard;
		@include icon(logo, false, 0);
	}
}


footer {
	background-color: $dark-grey;
	border-top: 5px solid $light-grey;
}


/* hide mobile elements */
#searchlink, #loginlink {
	display: none !important;
	a {
		text-indent: -1000em;
	}
}

