@mixin breakpoint-menuwidth($menu-width) {

	.js #targetnav-select, .js #mainnav, .js .top-bar {
		width:#{$menu-width}px;
		left: -#{$menu-width}px;
		@include transition-property(transform);
		@include transition-duration($menu-animation-speed);
		@include transition-timing-function($menu-animation-type);
		//transition: transform $menu-animation-speed $menu-animation-type 0s;
	}
	
	.js .expanded #targetnav-select, .js #mainnav.expanded {
		@include transform2d(translateX(#{$menu-width}px));
		@include transition-property(transform);
		@include transition-duration($menu-animation-speed);
		@include transition-timing-function($menu-animation-type);
	}
	
	.js .expanded #toggle-topbar {
		@include transform2d(translateX(#{$menu-width}px));
	}
	
	.js #toggle-topbar {
		@include transition-property(transform);
		@include transition-duration($menu-animation-speed);
		@include transition-timing-function($menu-animation-type);
	}
}


@media #{$mobile-only} {
	@include breakpoint-menuwidth($menu-width-mobile);
}


@media #{$xsmall-only} {
	@include breakpoint-menuwidth($menu-width-xs-mobile);
}

/* breadcrumb */
.breadcrumbnav {

	display: none;	
	@media #{$large-up} {
		display: block;
	}
	
	margin-top: 2px;
	font-weight: 400;
	font-family: $secondary-font !important;
	ol {
		display: inline;
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			display: inline;
			margin: 0;
			padding: 0;
		}
	}
	a {
		font-weight: 400;
		font-family: $secondary-font !important;
	}
}


/* tabs */
ul.tabs {
	position: relative;
	display: block;
	list-style: none;
	margin: 0px 0px rem-calc(50px) 0px;
	padding: 0px;
	border-bottom: 1px solid $line-grey;
	
	.layout-landingpage & {
		margin-top: -109px;
		margin-left: -20px;
		@media #{$mobile-only} {
			margin-top: 0px;
		}
	}
	
	.js & {
		display: none;
	}
	@media #{$xlarge-up} {
		.js & {
			display: block;
		}
	}
	
	li {
		float: none;
		padding: 0px;
		margin: 0px 0px -1px 0px;
		width: 100%;
		
		@media #{$xlarge-up} {
			float: left;
			width: auto;
		}
		
		&::before {
			content: none;
		}
		
		&:last-child a {
			margin-right: 0px;	
		}
		
		a {
			display: block;
			padding: 12px 20px 9px 20px;
			margin-right: 0px;
			background-color: $light-grey;
			border-bottom: 1px solid $line-grey;
			font-family: $text-font !important;
			@include single-transition(background-color);
			@media #{$xlarge-up} {
				margin-right: 5px;;
				border-bottom: none;				
			}
			
			&:hover {
				background-color: $accordion-navigation-hover-bg-color;
			}
		
		}
		&.active {
			a {
				background-color: $white;
				@media #{$xlarge-up} {
					padding-top: 11px;
					border: 1px solid $line-grey;
					border-bottom: 1px solid $white;
				}
			}
		}
	}
	
	&::after, &::before {
		content: ' ';
		display: table;
		clear: both;
	}
}

.tabs-select {
	display: none;
	.js & {
		display: block;
	}
	position: relative;
	min-height: 41px;
	margin-bottom: rem-calc(50px);
	font-weight: 700;
	font-family: $text-font !important;
	padding: $accordion-navigation-padding;
	cursor: pointer;
	
	@media #{$xlarge-up} {
		.js & {
			display: none;
		}
	}
}


/* menues top of the site */
#targetnav, #utilitynav {
	font-family: $header-font-light;
	margin-bottom: 0px;
	li {
		display: block;
		float: left;
		margin-left: 0px;
		a {
			display: block; 
			padding: 10px 17px 17px 17px;
			.layout-landingpage & {
				padding-bottom: 16px;
			}
			color: $white;
			font-family: $header-font-light !important;
			font-size: rem-calc($text-font-size);
		}
	}
}


/* left side */
#targetnav {
	position: absolute; 
	top: -195px;
	margin-left: -17px;
	li a, li.active a:hover {
		color: #a7a7a7;
		@include single-transition(color);
	}
	li a:hover {
		color: $white;
	}
	li.active a {
		background-color: $white;
		//color: $link-color;
	}
		
	@media #{$mobile-only} {
		position: relative;
		top: 0px;
		margin-left: 0px;
		margin-top: -35px;
		li {
			float: none;
		}
		li a, li a:hover, li.active a {
			padding: 3px 17px 3px 17px;
			background-color: $white;
			color: $link-color;
			text-transform: uppercase;
			font-family: $text-font !important;
			font-size: rem-calc($menu-font-size-mobile) !important;
			line-height: inherit !important;
		}

		.js & { // replaced through select menue
			display: none;
		}
		
		.no-js & {
			top: 0px;
			margin-top: 0px;
			li a, li a:hover, li.active a {
				border-bottom: 1px solid $light-grey;
			}
			li:first-child a {
				border-top: 1px solid $light-grey;
			}
		}
	}
	
}

/* right side */
#utilitynav {
	float: right;
	margin-top: -43px;
	li {
		padding: 3px 0px 0px 20px;
		a {
			position: relative;
			padding: 6px 0px 5px 0px;
		}
	}
	
	@media #{$mobile-only} {
		margin-top: 130px;
		margin-right: 43px;
		
		.layout-landingpage & {
			margin-right: 0px;
		}
		
		li {
			padding: 0px 0px 0px 5px;
			a {
				width: 40px;
				padding: 0px;
			}
			&:first-child {
				padding: 0px;
			}
		}
	}
}

/* replace the "targetnav"-menu in mobile version */
#targetnav-select { 
	display: none;
	position: absolute;
	top: 122px;
	height: 49px;
	padding: 0px 10px 0px 17px;
	border: none;
	background-color: $white;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDEzLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMTQ5NDgpICAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJFYmVuZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iNDAuMDA3cHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCA0MC4wMDcgMTAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MC4wMDcgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBvbHlsaW5lIGZpbGw9IiMyMjIyMjIiIHBvaW50cz0iMjguNDk0LDQ3LjQ1NSAyMS45MDEsNTMgMTkuMjAzLDUzIDEyLjQ1OSw0Ny40NTUgMTUuNjU2LDQ3LjYwNSAyMC41MDMsNTIuMDAxIDI1LjU5Nyw0Ny41MDUgIi8+CjxyZWN0IGZpbGw9IiNGMEYwRjAiIHdpZHRoPSIwLjAwMSIgaGVpZ2h0PSIxMDAiLz4KPHJlY3QgeD0iNDAiIGZpbGw9IiNGMEYwRjAiIHdpZHRoPSIwLjAwMSIgaGVpZ2h0PSIxMDAiLz4KPC9zdmc+);
	background-position: right center;
	cursor: pointer;
	text-transform: uppercase;
	font-size: rem-calc(16) !important;
	@include transform2d(translateX(0px));
	option {
		font-size: inherit !important;
		padding: 0px 17px;
	}
	
	@media #{$mobile-only} {
		.js & {
			display: block;
		}
	}
}

/* burger icon for toggling the mainnav in mobile version */
#toggle-topbar { 
	display: none;
	position: absolute;
	left: -300px; 
	top: 112px;
	height: 60px;
	width: 375px;
	overflow: hidden;
	background-color: $white;
	@include transform2d(translateX(0px));
	
	/* icon */
	a {
		position: absolute;
		display: block;
		width: 75px;
		height: 60px;
		right: 0px;
		color: $link-color;
		text-indent: -1000em;
		@extend .icon-mhplus-mobil-menue;
		&::after {
			position: absolute;
			text-indent: 1000em;
			font-size: 28px;
			top: 15px;
			right: 19px;
			color: $link-color;
		}
	}
	.expanded & a {
		@extend .icon-mhplus-mobil-close;
		&::after {
			color: $link-color;
		}
	}
	.js & {
		display: block;
		@media #{$xlarge-up} {
			display: none;
		}
	}
	
	
	
	
}


/* js generated area laying on the content for closing mainnav */
#exit-off-canvas {
	position: absolute;
	display: block;
	top: 0px; 
	left: 0px;
	z-index: 1;
	width: 100%;
}


/* main menue */
#mainnav {
	position: absolute; 
	z-index: 10;
	top: 152px;
	
	@media #{$mobile-only} {
	
		padding-left: 0 !important;
		padding-right: 0 !important;
		
		background-color: $deep-light-grey;
		
		.js & {
			overflow-y: auto;
			top: 174px;
			@include box-shadow($box-shadow-color-lighten 10px 10px 15px -9px);
			@include transform2d(translateX(0px));
		}
	
		.no-js & {
			position: relative;
			top: 0px;
			margin-top: 20px;
			overflow: visible;
			height: auto !important;
			.title-area {
				display: none !important;
			}
		}
	}
	
	.top-bar-section {
	
		background-color: rgba(255,255,255,0.85);
		min-height:  rem-calc(45);
		line-height:  rem-calc(45);
		
		// hide home-link-placeholder
		> ul > li:first-child {
			display: none;
			@media #{$mobile-only} {
				display: block;
			}
		}
		
		
		ul li {
		 
            > a {
              line-height: $topbar-height;
              padding: 0 $topbar-link-padding;
              
            }
          
		}
		
		ul li.enabled a {
			color: $link-color;
		}
		
		
		@media #{$mobile-only} {
		
			& {
				background-color: transparent;
				min-height: auto;
				line-height: inherit;
			}
			
			/* reset desktop definitions */
			h5 { // back-link is wrapped by h5 !
				line-height: inherit !important;
			}
			ul li, li, li:hover, li.hover, .dropdown li.columns ul li {	
				> a, a, h5 a, a.label {
					display: block;
					float: none;
					padding: 14px 0px 13px $topbar-link-padding;
					border-bottom: 1px solid $white;
					color: $link-color !important; 
					background-color: $deep-light-grey;
					font-family: $text-font !important;
					font-size: rem-calc($menu-font-size-mobile) !important;
					line-height: inherit !important;
				}
			}
			
			li.active a, a.parent-link, .hover a.parent-link, a.parent-link:hover {
				background-color: $light-blue !important;
			}
		}
	
		.has-dropdown > a, .dropdown .back a {
			@extend  .icon-mhplus-pfeil-smart;
			&::before {
				position: relative;
				display: block;
				font-size: 15px;
				color: $text-color;
				margin-top: 0px;
				margin-right: rem-calc(15);
			}
		}
		.dropdown .fullback a {
			&::before {
				content: "\e610";
				float: left;
			}
		}
			
		.has-dropdown { 
			position: inherit; 
			
			&:hover, &.hover {
				@include box-shadow($box-shadow-color-lighten 3px 4px 7px -3px);
				a {
					background-color: $white;
				}
			}
			a::before {
				display: none;
				float: right;
			}
		
		
			@media #{$mobile-only} {
				position: static !important;
				&:hover, &.hover {
					@include box-shadow(none);
					a {
						background-color: transparent;
					}
				}
				a::before {
					display: block;
				}
			}
		}
		
		.dropdown {
			min-height: 260px;
			padding-top: 34px;
			padding-bottom: 30px;
			background-color: $white;
			@include box-shadow($box-shadow-color-lighten 3px 5px 7px -3px);
						
			@media #{$mobile-only} {
				min-height: initial;
				padding-top: 0px;
				background-color: $deep-light-grey;
				@include box-shadow(none);
			}
			
			li.back, li.parent-link {
				display: none !important;
				@media #{$mobile-only} {
					display: inherit !important;
				}
			}
			
			li.back:not(.fullback) a::before {
				@include transform(rotate(180deg));
				float: left;
				margin-top: 1px;
			}
			
			a.label {
				margin-bottom: rem-calc(10);
				font-size: rem-calc(18);
				line-height: inherit;
				color: $light-blue-text;
				padding: 0px ($topbar-link-padding - ($column-gutter/2));
				
				@media #{$mobile-only} {
					margin-bottom: 0px;
					padding: 14px 0px 13px $topbar-link-padding;
				}
			}
			
			li.columns { 
			
				min-height: 195px;
				border-right: 1px solid $light-border;
				
				// need to overwrite foundation top-bar definitions!
				@extend .columns;
				@extend .small-3;
				&:last-child {
					float: left !important;
				}
				
				&:last-child {
					border-right: none;
				}
				
				@media #{$mobile-only} {
					padding: 0px !important;
					float: none !important;
					width: 100% !important;
					height: auto !important;
					min-height: initial;
					border-right: none;
				}
				
				ul {
					margin-top: 10px;
					@media #{$mobile-only} {
						margin-top: 0px;
					}
					
					li { 
						display: block;
						a {
							font-family: $text-font !important;
							font-size: rem-calc($text-font-size);
							line-height: rem-calc(16);
							padding: rem-calc(4) 0rem rem-calc(4) 0rem;

							&:hover {
								color: $white;
								background-color: $light-blue;
							}
							
							@media #{$mobile-only} {
								line-height: inherit;
								padding: 14px $topbar-link-padding 13px $topbar-link-padding;
								
								&:hover {
									color: $link-color;
									background-color: inherit;
								}							
							}							
						}
						
						@media #{$mobile-only} {
							&:not(.back) a::before {
								display: none !important;
							}
						}
						
						&:not(.back) a {
							@extend .icon-mhplus-quadrat;
							&::before {
								display: block;
								position: relative;
								float: left;
								margin-left: 1px;
								margin-top: 5px;
								margin-right: 9px;
								font-size: rem-calc(6);
								color: $light-blue;
							}
						}
					}
				}
			}
		}				
	}
}

/* accordion */
ul.accordion {
	margin-left: 0px;
}
.accordion .accordion-navigation, .accordion dd, .accordionSingle {
	position: relative;
	margin-bottom: 10px !important;
	> a, > .csc-header:first-child h4, > .csc-default:first-child > .csc-header:first-child h4 {
		position: relative;
		font-weight: 700;
		font-family: $text-font;
		line-height: rem-calc(17);
		background-color: #DFE0E0;
		padding:  rem-calc(12) rem-calc(60) rem-calc(12) rem-calc(16);
		margin: 0;
		cursor: pointer;
		@include single-transition(background-color);
		
		@extend .icon-mhplus-pfeil-smart;
		&::before {
			top: 0px; 
			right: 0px;
			width: 41px;
			height: 41px;
			color: $text-color;
			font-weight: 400;
			font-size: rem-calc(16);
			text-align: center;
			padding-top: rem-calc(12);
			@include transform(rotate(90deg));
		}
		&::after {
			content: '';
			position: absolute;
			top: 0px;
			right: 39px;
			width: 1px;
			height: 100%;
			border-left: 1px solid $deep-light-grey;
		}
		&:hover {
			background-color: scale-color($accordion-navigation-bg-color, $lightness: -15%)
		}
	}

	&.active > a::before, &.active > .csc-header:first-child h4::before, &.active > .csc-default:first-child > .csc-header:first-child h4::before {
		@include transform(rotate(270deg));
		color: $white;
	}
	&.active > .csc-header:first-child h4, &.active > .csc-default:first-child > .csc-header:first-child h4 {
		background-color: $light-blue;
	}
}
.no-js .accordionSingle, .js .accordionSingle.active {

	padding-bottom: rem-calc(10);
	
	> .csc-header:first-child h4, 
	> .csc-default:first-child > .csc-header:first-child h4 {
		margin-bottom: rem-calc(20);
	}
}
.js .accordionSingle {

	padding-bottom: 0;
	
	/* do we animate ?
	max-height: 80px;
	overflow: hidden;
	@include transition-property(max-height);
	@include transition-duration(0s);
	@include transition-timing-function(cubic-bezier(1,.23,.95,-0.24));
	*/
	
	> .csc-header:first-child h4, 
	> .csc-default:first-child > .csc-header:first-child h4 {
		margin-bottom: 0;
	}
	
	* {
		height: 0px;
		margin-bottom: 0;
		margin-top: 0;
		overflow: hidden;
	}
	 
	& > .csc-header:first-child, 
	& > .csc-default:first-child, 
	& > .csc-default:first-child > .csc-header:first-child, 
	& > .csc-header:first-child h4, 
	& > .csc-default:first-child > .csc-header:first-child h4 {
		height: auto !important;
	}

    ul li {
      position:relative;
    }

	&.active {
		/*
		max-height: 3000px;
		@include transition-duration(0.5s);
		*/
		* {
			height: auto;
			margin-top: inherit;
			margin-bottom: inherit;
			overflow: visible;
		}
	}
}


/* pagination */
.showResultsWrap { 
	font-size: rem-calc(16);
	color: $dark-grey;
	text-align: center;
	margin-bottom: rem-calc(5);
}
ul.pagination {
	text-align: center;
	padding-top: rem-calc(15);
	li {
		display: inline;
		float: none;
		border-left: 1px solid $white;
		&:first-child {
			border: none;
		}
		a {
			position: relative;
			display: inline-block;
			font-weight: 700;
			font-size: rem-calc(16);
			background-color: $light-blue;
			&:hover {
				background-color: $light-blue-text;
			}
		}
		.current a {
			font-weight: 400;
		}
		&.prev a {
			padding-left: 15px;
			&::before {
				content: '\00ab';
				left: 0px;
			}
		}
		&.next a {
			padding-right: 15px;
			&::after {
				content: '\00bb';
				right: 0px
			}
		}
		
		&.next a, &.prev a {
			text-indent: -5000rem;
			&::after, &::before {
				position: absolute;
				font-size: rem-calc(20);
				text-indent: 0;
				top: 0px;
			}
			@media #{$large-up} {
				text-indent: 0;
			}
			
			
		}
	}
}

