
#mainslider {
	
	position: relative;
	max-width: 100%;
	overflow: hidden;
	height: 416px;
	margin: 0 rem-calc($gutter-width/2);
	
	
	@media #{$small-only} {
		.js & {
			height: auto;
			margin: 0;
			
			&.swipe {
				overflow: visible;
				height: 450px;
				max-width: initial;
				transform: translate(0, 0);
			}
		}
		.no-js & {
			overflow: visible;
			height: auto;
			padding-top: 450px;
		}
	}
	@media #{$screen} and (min-width:em-calc($between-small-medium)) and (max-width:$small-breakpoint) {
		.no-js & {
			padding-top: 550px;
		}
		
		.js &.swipe {
			height: 580px;
		}
	}
	
	
	.slide {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 1140px;
		height: 416px;
		overflow: hidden;
		visibility: hidden;		
		
		.js & {
			opacity: 0;
			&:first-child {
				opacity: 1;
			}
			
			&.swipe {
				position: relative;
				display: inline-block;
				opacity: 1;
				visibility: visible;
				overflow: visible;
				transform: translate(0, 0);
			}
		}
		.no-js & {
			overflow: visible;
			//width: 100%;
			//height: auto;
		}
		
		@media #{$small-only} {
			left: -343px;
			margin-left: 50%;
			width: 685px;
			height: 250px;
			img {		
				height: 250px;
				min-height: 250px;
				min-width: 685px;
				max-width: 685px;
				width: 685px;
			}
			&.swipe {
				left: 0px;
				margin-left: 0px;
			}
		}
		@media #{$screen} and (min-width:em-calc($between-small-medium)) and (max-width:$small-breakpoint) {
			left: -495px;
			margin-left: 50%;
			width: 990px;
			height: 361px;
			img {		
				height: 361px;
				min-height: 361px;
				min-width: 990px;
				max-width: 990px;
				width: 990px;
			}
			&.swipe {	
				left: 0px;
				margin-left: 0px;
			}
		}
		
		
		> a { 
			display: block;
		}
		
		&:first-child, &.closed, &.open {
			visibility: visible;
		}
	}
	
	// slide-desc not as a child of .slide, because is moved out of slide by js
	.slide-desc {
		position: absolute;
		z-index: 5;
		width: 300px;
		right: 20px;
		bottom: 22px;
		padding: 20px;
		background-color: $white;
		margin: 1px 0px 1px 0px;
		
		.js & {
			position: relative;
			right: auto;
			bottom: auto;
			overflow: hidden;
			
			@media #{$small-only} {
				width: auto;
				border-bottom: 1px solid $light-grey;
				padding-left: 0px;
				padding-right: 0px;
			}
			
			.slide-title {
				@extend .icon-mhplus-pfeil-smart;
				&::before {
					right: 20px;
					top: 9px;
					color: $text-color;
					font-size: rem-calc(15);
					@include transform(rotate(90deg));
					
					@media #{$small-only} {
						right: 5px;
					}
				}
			}
			&.closed {
				padding-top: 0px;
				padding-bottom: 0px;
				
				.slide-text {
					overflow: hidden;
				}
				.slide-title {
					margin-bottom: 0px;
					cursor: pointer;
					padding-top: 5px;
					padding-bottom: 5px;
					font-family: $text-font;
					font-size: rem-calc($text-font-size);
					transition: font 0.3s ease;
				}
			}
			&.open {
				.slide-title::before {
					display: none;
				}
			}
		}	
			
		@media #{$small-only} {
			.no-js & {
				position: relative;
				width: 280px;
				//margin-top: 252px;
				top: 0px;
				left: -140px;
				margin-left: 50%;
			}
		}
		
		.slide-title {
			margin-bottom: 10px;
			font-family: $header-font;
			font-size: rem-calc(24);
			transition: font 0.3s ease;
		}
		
		.slide-text {
			margin-bottom: 0px;
			line-height: rem-calc(17);
			p {
				line-height: inherit;
				margin-bottom: rem-calc(10);
			}
			.button {
				padding: 10px;
				color: $white;
				background-color: $light-blue;
				font-weight: 700;
				margin-bottom: 0px;
				&:hover {
					background-color: $light-blue-text;
				}
			}
		}
	}
	.js & .slide.swipe .slide-desc {
		position: absolute;
		width: 290px;
		left: -145px;
		margin-left: 50%;
		.slide-title::before {
			display: none;
		}
		border-bottom: none;
	
	}
	
	.slide-caller {
		position: absolute;
		z-index: 5;
		left: 20px;
		bottom: 22px;
		font-family: $header-font;
		
		@media #{$small-only} {
			display: none;
		}
		
		.slide-header {
			position: relative;
			display: inline-block;
			padding:10px 10px 12px 10px;
			width: auto;
			background-color: $white;
			font-size: rem-calc(38) !important;
			span {
				color: $light-blue-text;
			}
		}

		> p, > span {
			font-weight: 500;
			font-size: rem-calc(18) !important;
			line-height: rem-calc(18);
			display: inline-block;
			margin-top: 8px;
			margin-bottom: 0px;
			padding: 4px 10px 4px 10px;
			background-color: $light-blue;
		}
	}
	
	/* after js working */
	
	.slider-stage {
		position: absolute;
		width: 300px;
		right: 20px;
		bottom: 22px;
		@media #{$small-only} {
			position: relative;
			width: 80%;
			margin-top: 252px;
			top: 0px;
			left: 8%;
		}
		
		@media #{$screen} and (min-width:em-calc($between-small-medium)) and (max-width:$small-breakpoint) {
			margin-top: 364px;
		}
		
		.slide-desc {
			.slide-title::after {
				position: absolute;
				top: 14px;
				right: 20px;
				margin-top: 0px;
				margin-left: 0px;
				@media #{$small-only} {
					right: 0px;
				}
			}			
		}
	}
}