@import "theme/settings";

@import "compass";

// reset before loading foundation!
@include global-reset;

@import "foundation_settings";
@import "foundation_components";


/* some global class definitions */
html { 
 overflow-y: scroll;
}

.hidden { 
	position: absolute; 
	left: -3000px; 
	top: -3000px;
}
.no-padding {
	padding: 0px !important;
}
.no-margin {
	margin: 0px !important;
}

/* imports components */
@import "theme/forms";
@import "theme/icons";

/* import layouts */
@import "theme/layout";
@import "theme/breakpoint_small";


